@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App.dark {
  z-index: 2;
  background-color: #190607;
  background-image: linear-gradient(to top, rgba(224, 166, 80, 0.28), rgba(237, 175, 181, 0.04), rgba(25, 6, 7, 1));
}

.app.light {
  background-color: #FAFAFA;
  background-image: linear-gradient(to bottom, rgba(223, 122, 122, 0), rgba(127, 92, 74, 0), rgba(252, 229, 241, 0.4));
}